* {
  margin: 0;
}

.titulo {
  font-size: 20px;
  float: left;
  padding-top: 5px;
  color: blue;
}

.botones, .cart {
  padding-top: 6px;
  color: blue;
}

.botones {
  float: inline-start;
  margin-left: 35px;
}

.cart {
  float: inline-end;
}

.cabeza {
  background-color: black;
  padding: 20px 30px 50px 30px;
  border-bottom: 5px solid green;
}
